.map-container .leaflet-container {
    height: 25vh;
    width:80%;
    position: relative;
    margin: 50px auto;
    border: 1px solid gray;
    background-color: rgb(125, 193, 220);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    border-radius: 5px;
    margin-bottom: 2rem;
    z-index: 2;
}
  
  .leaflet-control-attribution {
    font-size: 12px;
    font-weight: 600;
    z-index: 3;
  }

  @media (min-width: 750px) and (max-width:1020px){
    .map-container .leaflet-container {
        height: 25vh;
        width:60%
    }
}

@media (min-width: 1020px){
    .map-container .leaflet-container {
        height: 20vh;
        width: 60%;
    }
}